<section class="article-page">

  <img class="article-img" src="{{article.img_url}}" alt="Flexbox-Zombies-Image">

  <article class="article-details">
    <h1>{{{article.title}}}</h1>

    <h2>Description:</h2>
    <p>{{{article.article_descr}}}</p>

    <h2>Keywords:</h2>
    <div class="keywords">
      {{#each article.keywords}}
      <span><i>{{{this}}}</i></span>
      {{/each}}
    </div>

    <a href="{{{article.link}}}" target="_blank"><button class="article-button">Click to read more</button></a>

  </article>

</section>